@using SistemaPaciente.Core.Application.ViewModels.MedicalViewModels;


@model List<MedicalViewModel>

@{
    ViewData["Title"] = "User Home";
}
<div class="container-fluid">

    <div class="row">
        <div class="col-12 text-end mt-2 mb-2">
            <a class="btn btn-primary" asp-controller="Medical" asp-action="Create">CREAR CITA MEDICA</a>
        </div>

        <div class="col-12">
            <div class="card">
                <div class="card-header text-light bg-primary">
                    <h3 class="text-center">LISTADO DE CITAS MEDICAS CREADAS</h3>
                </div>
                <div class="card-body">
                    <div>
                        <table class="table table-hover">
                            <thead>
                                <tr class="table-primary">
                                    <th scope="col">Paciente</th>
                                    <th scope="col">Medico</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Hora</th>
                                    <th scope="col">Razon</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Acciones</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.PatientName</td>
                                        <td>@item.DoctortName</td>
                                        <td>@item.DateOfAppoinment</td>
                                        <td>@item.HourOfAppoinment</td>
                                        <td>@item.ReasonOfAppoinment</td>
                                        <td>@item.StatustName</td>

                                        <td>
                                            @switch (item.StatustName)
                                            {
                                                case "PENDIENTE DE CONSULTA":
                                                    <a class="btn btn-warning" asp-controller="Medical" asp-action="Consultar" asp-route-id="@item.Id">CONSULTAR</a>
                                                    break;
                                                case "PENDIENTE DE RESULTADOS":
                                                    <a class="btn btn-warning" asp-controller="Medical" asp-action="Results" asp-route-id="@item.Id">PEN.RESULTADOS</a>
                                                    break;
                                                case "COMPLETADA":
                                                    <a class="btn btn-warning" asp-controller="Medical" asp-action="Completed" asp-route-id="@item.Id">VER RESULTADOS</a>
                                                    break;

                                            }
                                            <a class="btn btn-danger" asp-controller="Medical" asp-action="Delete" asp-route-id="@item.Id">ELIMINAR</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
